footer{

    background-color: #332D2D;
    padding: 55px 10%;
    color: white;
}

#info_footer{

    width: 100%;
    max-width: 1407px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.central_acolh{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.central_acolh h2{

    font-size: 30px;
}

.central_acolh p{

    font-size: 16px;
    max-width: 800px;
    letter-spacing: 0.5px;
}

.central_acolh button{

    background-color: #ffffff;
    font-family: "Inconsolata", monospace;
    color: #CE1B29;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 180px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
}

.central_acolh button:hover{

    background-color:#CE1D2D;
    color: #ffffff;
}

.info_acolhimento{

    display: flex;
    align-items: center;
    gap: 15px;
}

.adicionais{

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adicionais>img{

    width: 200px;
    height: 60px;

}

.links_footer{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.links_footer ul{

    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 23px;
    font-weight: 600;
}

.links_footer li:hover{

    color: #CE1D2D;
}

.extras_footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps_footer,
.redes_footer{

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lojas,
.redes_sociais{

    display: flex;
    gap: 20px;
    align-items: center;
}

.direitos{

    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
    font-size: 18px;
    color: #BDBDBD;
}

footer hr{

    border: none;
    height: 2px;
    background-color: #ffffff;
}